<%- include('partials/header') %>

    <div class="wrapper">
        <div class="movie-single">
                <a href="../movies">&larr; Back</a></br>
                <% if(movie.image != null) { %>
                    <img src="<%- movie.image.medium %>" alt="<%- movie.name %>">
                  <% } else { %>
                    "No image"
                  <% } %>
                <h2><%- movie.name %></h2>
                <p><%- movie.language %></p>
                <p><%- movie.genres %></p>
                <p><%- movie.summary %></p>
                <a href="<%- movie.officialSite %>"><%- movie.officialSite %></a>
        </div>
    </div>