<%- include('partials/header') %>
<div class="wrapper">
  <%- include('partials/search') %>
    <a href="../searchmovie">&larr; Back to Search</a></br>
      <div class="movies">
        <% movies.forEach(function(movies) { %>
          <a href="../searchmovie/<%- movies.show.id %>" class="movies_name">
            <% if(movies.show.image != null) { %>
              <img src="<%- movies.show.image.medium %>" alt="<%- movies.show.name %>">
            <% } else { %>
              "No image"
            <% } %>
            
            <h2><%- movies.show.name %></h2>
            <p><%- movies.show.language %></p>
            <p><%- movies.show.genres %></p>
          </a>
        <% }) %>
</div>