<%- include('partials/header') %>

<%- include('partials/search') %>
<div class="wrapper">
<div class="movies">
        <% movies.forEach(function(movies) { %>
                <a href="searchmovie/<%- movies.id %>" class="movies_name">
                <% if(movies.image != null) { %>
                <img src="<%- movies.image.medium %>" alt="<%- movies.name %>">
                <% } else { %>
                "No image"
                <% } %>
                <h2><%- movies.name %></h2>
                <p><strong>Language: </strong><%- movies.language %></p>
                <p><strong>Genres: </strong><%- movies.genres %></p>
                </a>
        <% }) %>
    </div>
</div>